spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/university_realm

  # Logging pour debug
  logging:
    level:
      org.springframework.security: DEBUG
      org.springframework.web: DEBUG

server:
  port: 6000

# Pour debug, désactivez temporairement la sécurité :
# spring.security.enabled: false
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: TRACE
    reactor.netty.http.client: DEBUG